<h1>About Me</h1>

<p>
  <img class="profile" src="/images/me.jpg" alt="Colin Drake" title="Colin Drake" /> 
  I&rsquo;m a software engineer living in Austin, Texas. Currently, I work at
  <a href="https://wearetuple.co">Tuple Labs</a> doing both native iOS and frontend web development.
  My hobbies include programming, playing music, brewing coffee, and mixing cocktails.</p>

<h2 id="contact">Contact</h2>

<ul>
  <li>Send an email to <img style="position: relative; top: 4px;" width="209px" src="/images/em.png" /></li>
  <li>Send a secure message on <a href="https://keybase.io/cfdrake">Keybase</a></li>
  <li>Message me on <a href="https://twitter.com/colinfdrake">Twitter</a> or <a href="https://linkedin.com/in/cfdrake">LinkedIn</a></li>
</ul>
